[submodule "cognition-llms"]
	path = cognition-llms
	url = git@github.com:USFCA-CS490-Micron/cognition-llms.git
[submodule "interface"]
	path = interface
	url = git@github.com:USFCA-CS490-Micron/interface.git
[submodule "private-relay"]
	path = private-relay
	url = git@github.com:USFCA-CS490-Micron/private-relay.git
[submodule "core-device"]
	path = core-device
	url = git@github.com:USFCA-CS490-Micron/core-device.git
